<!DOCTYPE html>
<html ng-app="member">
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include lib %>
    <% include css %>
</head>
<body>
<div class="container modal-backdrop" ng-controller="loginCreate">
    <toaster-container></toaster-container>
    <!--<div class="container">-->
    <div class="row col-md-6 col-md-offset-2">
        <div class="loginPopUp">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in tabs" role="presentation" ng-class="{active:isActiveTab(tab.url)}"
                    ng-click="onClickTab(tab)"><a>{{tab.title}}</a></li>
            </ul>

            <div id="mainView">
                <div ng-include="currentTab"></div>
            </div>
        </div>

    </div>

    <!--</div>-->
    <script type="text/ng-template" id="login.html">
        <!-- LOGIN FORM -->
        <form ng-submit="submitAccount()" novalidate autocomplete="off">

            <div class="form-group">
                <div class="alert alert-danger" role="alert" ng-show="warning" id="warning">
                    {{warning}}
                </div>
            </div>

            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="form.username"
                       ng-model="form.username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="form.password"
                       ng-model="form.password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg" ladda="loading">Login
            </button>
        </form>
    </script>
    <script type="text/ng-template" id="register.html">
        <form role="form" ng-submit="submitForm(userForm.$valid)" name="userForm" novalidate autocomplete="off">
            <div class="modal-body">
                <!--profile photo -->
                <div class="form-group">
                    <img src="{{form.imageUrl}}" ng-model="form.imageUrl" class="img-circle"
                         style="cursor: pointer; height:50px; width:50px; ">
                </div>
                <div class="form-group">
                    Profile Picture:
                    <input type="file" ng-file-select="onFileSelect($files)" accept="image/*">
                </div>
                <!--profile photo -->
                <div class="form-group"
                     ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                    <label for="username">Username : </label>
                    <input type="text" name="username" id="username" class="form-control input-sm" tooltip-html-unsafe="{{htmlTooltip}}"
                           placeholder="Username"
                           ng-model="form.username" required>

                    <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">
                        You name is
                        required.</p>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : userForm.fullname.$invalid && !userForm.fullname.$pristine }">
                    <label for="fullname">Fullname : </label>
                    <input type="text" name="fullname" id="fullname" class="form-control input-sm"
                           placeholder="Last Name" ng-model="form.fullname" required>

                    <p ng-show="userForm.fullname.$invalid && !userForm.fullname.$pristine" class="help-block">
                        Your full name is
                        required.</p>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <label for="email">Email : </label>
                    <input type="email" name="email" id="email" class="form-control input-sm"
                           placeholder="Email"
                           ng-model="form.email" required>

                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a
                        valid
                        email.</p>
                </div>

                <!--<div class="row">-->
                <!--<div class="col-md-8">-->
                <div class="form-group">
                    <label for="location">Location : </label>
                    <input type="text" name="location" id="location" class="form-control input-sm"
                           placeholder="Location" ng-model="form.location">
                </div>
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="contact">Contact : </label>
                            <input type="text" numbers-only="numbers-only" name="contact" id="contact"
                                   class="form-control input-sm"
                                   placeholder="contact" ng-model="form.contact">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label for="gender">Gender : </label>
                        <select id="gender" class="form-control input-sm" name="gender" ng-model="form.gender"
                                ng-selected="form.gender" required>
                            <option value="true">Male</option>
                            <option value="false">Female</option>
                        </select>
                        <!--<span class="error" ng-show="userForm.gender.$dirty && userForm.gender.$invalid">Select service</span>-->
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : form.password != form.repassword || form.password.length < 8}">
                    <div class="row">
                        <div class=" col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="password">Password : </label>
                                <input type="password" name="password" id="password"
                                       class="form-control input-sm"
                                       data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}"
                                       placeholder="Password" ng-model="form.password" required>
                            </div>
                        </div>
                        <div class=" col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="password_confirmation">Repassword : </label>
                                <input type="password" name="confirmPassword" id="password_confirmation"
                                       data-match="form.password" name="confirmPassword"
                                       class="form-control input-sm" placeholder="Confirm Password"
                                       ng-model="form.repassword"/>
                            </div>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <p ng-show="form.password != form.repassword" class="help-block">Passwords do not
                                match!</p>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <p ng-show="form.password.length < 8" class="help-block">Password should be longer
                                than 8 character!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group modal-footer">
                <button type="submit" class="btn btn-info btn-block" ng-disabled="userForm.$invalid"
                        ladda="loading">Sign up now!
                </button>
            </div>
        </form>
    </script>
</div>
</div>
</div>
</body>
</html>
