<% include main/header %>
<div class="container" ng-controller="orderCtrl">
    <!--<div class="row col-md-6 col-md-offset-2 custyle">-->
    <table class="table table-hover custab" >
        <thead>
        <h1 class="navbar-btn pull-left">Purchase Order</h1>
        <button class="btn btn-info navbar-btn pull-right" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
        <!--<a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>-->
        <tr>
            <th>Index</th>
            <th>Title</th>
            <th>Qty</th>
            <th>Created date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tr ng-repeat="item in filteredList" ng-class="{warning:!item.ans_status, default:item.ans_status}" ng-click="showDetail(item)">
            <td>{{$index+1}}</td>
            <td>{{item.product_name}}</td>
            <td>{{item.product_quanity}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.purchaseStatus}}</td>
        </tr>
    </table>
    <pagination total-items="totalItems" items-per-page="itemsPerPage"
                ng-model="currentPage" ng-change="pageChanged()"></pagination>
    <!--</div>-->
</div>

<% include main/footer.ejs %>
