<% include main/header %>
<div class="container" ng-controller="purchaseCtrl">
    <!--<div class="container">-->

    <div class="row">

        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-9">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Order now !
                            </div>
                            <div class="col-xs-3">
                                <button type="button" ng-click="addcol()"
                                        class="glyphicon glyphicon-plus-sign btn btn-danger btn-sm pull-right">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <form role="form" ng-submit="submitForm()" id="productForm" novalidate autocomplete="off" name="orderForm">
                    <div class="panel-body">

                        <div id="productItem_{{key}}" ng-repeat="(key, value) in products" >
                            <div class="row">
                                <!--<div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">-->
                                <!--</div>-->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label" for="queryMsg">
                                            Product Name:
                                        </label>

                                        <div class="controls">
                                            <input ng-model="form.product_name[key]" class="form-control" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="queryMsg">
                                            Product Description
                                        </label>

                                        <div class="controls">
                                            <textarea ng-model="form.product_description[key]" class="form-control"> {{product_description}}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="col-xs-6 text-right">
                                        <h6><strong><span class="text-muted">x</span></strong></h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="text" class="form-control input-sm"
                                               ng-model="form.product_quanity[key]" placeholder="qty"
                                               numbers-only="numbers-only" maxlength="2">
                                    </div>
                                    <div class="col-xs-2" remove-me type="productItem_{{key}}" index="{{key}}">
                                        <button type="button" class="btn btn-link btn-xs">
                                            <span class="glyphicon glyphicon-trash"> </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-success pull-right"
                                        ng-click="submitForm(key)">
                                    Checkout
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--</div>-->
<% include main/footer.ejs %>
