<!DOCTYPE html>
<html ng-app="notice">
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/toaster.css"/>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/toaster/toaster.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controller/toaster.js"></script>
</head>
<body>
<hi>toaster</hi>
<div ng-controller="mainCtrl">
    <button class="btn btn-primary" style="margin: 150px;" ng-click="pop()">Show toasts</button>
</div>
</body>
</html>