<!-- for dialog used -->
    <div class="modal-header">
        <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{title}}</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">{{content}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close()">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal" ng-click="confirm()">Delete</button>
    </div>
<!-- for dialog used -->